:root[data-theme="light"] {
  --text: oklch(13.42% 0.010 145.00);
  --background: oklch(98.68% 0.003 128.49);
  --primary: oklch(66.05% 0.087 141.58);
  --secondary: oklch(76.82% 0.054 327.10);
  --accent: oklch(70.25% 0.039 32.86);
}
:root[data-theme="dark"] {
  --text: oklch(97.90% 0.005 145.54);
  --background: oklch(11.90% 0.007 128.02);
  --primary: oklch(61.12% 0.088 141.54);
  --secondary: oklch(38.86% 0.064 327.82);
  --accent: oklch(46.24% 0.044 33.07);
}
