@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --text: oklch(15.14% 0.012 82.88);
        --background: oklch(98.03% 0.006 75.41);
        --primary: oklch(70.33% 0.093 84.88);
        --secondary: oklch(85.24% 0.078 128.85);
        --accent: oklch(76.91% 0.123 136.41);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: oklch(97.41% 0.007 80.72);
        --background: oklch(13.66% 0.013 81.32);
        --primary: oklch(63.75% 0.092 85.18);
        --secondary: oklch(43.69% 0.086 130.63);
        --accent: oklch(57.32% 0.127 136.99);
    }
}

:root[data-theme="light"] {
    --text: oklch(15.14% 0.012 82.88);
    --background: oklch(98.03% 0.006 75.41);
    --primary: oklch(70.33% 0.093 84.88);
    --secondary: oklch(85.24% 0.078 128.85);
    --accent: oklch(76.91% 0.123 136.41);
}

:root[data-theme="dark"] {
    --text: oklch(97.41% 0.007 80.72);
    --background: oklch(13.66% 0.013 81.32);
    --primary: oklch(63.75% 0.092 85.18);
    --secondary: oklch(43.69% 0.086 130.63);
    --accent: oklch(57.32% 0.127 136.99);
}

/* Mobile-first default values */
:root {
    --font-primary: "Rubik";
    --font-secondary: "Inter";
    --page-padding-width: 10%;
}

/* iPhone 14 Pro Max width */
@media screen and (min-width: 430px) {
    :root {
        --page-padding-width: 15%;
    }
}

/* iPad Pro width */
@media screen and (min-width: 1024px) {
    :root {
        --page-padding-width: 20%;
    }
}

/* Random desktop width */
@media screen and (min-width: 1920px) {
    :root {
        --page-padding-width: 25%;
    }
}