/* CSS animation with view-transition */
@view-transition {
   navigation: auto;
}

.transition-line {
    position: fixed;
    width: 33.333%;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
}

.transition-line-1 {
    left: 0;
    top: 100%;
    background-color: var(--primary);
    view-transition-name: bar-left;
}

.transition-line-2 {
    left: 33.333%;
    top: -100%;
    background-color: var(--accent);
    view-transition-name: bar-middle;
}

.transition-line-3 {
    left: 66.666%;
    top: 100%;
    width: 33.334%;
    background-color: var(--secondary);
    view-transition-name: bar-right;
}

/* refresh page content in the middle of view animation */
::view-transition-old(root) {
    animation: hideAtMidpoint 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
::view-transition-new(root) {
    animation: showAtMidpoint 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* view transition bar animations */
::view-transition-group(bar-left) {
    z-index: 10001;
    animation-duration: 0.5s;
}
::view-transition-old(bar-left),
::view-transition-new(bar-left) {
    animation: slideUpFull 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    mix-blend-mode: normal;
}
::view-transition-group(bar-middle) {
    z-index: 10001;
    animation-duration: 0.5s;
}
::view-transition-old(bar-middle),
::view-transition-new(bar-middle) {
    animation: slideDownFull 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    mix-blend-mode: normal;
}
::view-transition-group(bar-right) {
    z-index: 10001;
    animation-duration: 0.5s;
}
::view-transition-old(bar-right),
::view-transition-new(bar-right) {
    animation: slideUpFull 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    mix-blend-mode: normal;
}

@keyframes slideUpFull {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-200%);
    }
}

@keyframes slideDownFull {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(200%);
    }
}

/* custom view-transition to refresh page content during bar animation */
@keyframes hideAtMidpoint {
    0%, 49.99% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

@keyframes showAtMidpoint {
    0%, 49.99% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}