@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --text: oklch(13.42% 0.010 145.00);
        --background: oklch(98.68% 0.003 128.49);
        --primary: oklch(66.05% 0.087 141.58);
        --secondary: oklch(76.82% 0.054 327.10);
        --accent: oklch(70.25% 0.039 32.86);
        --accent-foreground: oklch(86.81% 0.01612 31.715);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: oklch(97.90% 0.005 145.54);
        --background: oklch(11.90% 0.007 128.02);
        --primary: oklch(61.12% 0.088 141.54);
        --secondary: oklch(38.86% 0.064 327.82);
        --accent: oklch(46.24% 0.044 33.07);
        --accent-foreground: oklch(68.232% 0.01537 39.157);
    }
}

:root[data-theme="light"] {
    --text: oklch(13.42% 0.010 145.00);
    --background: oklch(98.68% 0.003 128.49);
    --primary: oklch(66.05% 0.087 141.58);
    --secondary: oklch(76.82% 0.054 327.10);
    --accent: oklch(70.25% 0.039 32.86);
    --accent-foreground: oklch(86.81% 0.01612 31.715);
}

:root[data-theme="dark"] {
    --text: oklch(97.90% 0.005 145.54);
    --background: oklch(11.90% 0.007 128.02);
    --primary: oklch(61.12% 0.088 141.54);
    --secondary: oklch(38.86% 0.064 327.82);
    --accent: oklch(46.24% 0.044 33.07);
    --accent-foreground: oklch(68.232% 0.01537 39.157);
}

/* Mobile-first default values */
:root {
    --font-primary: "Momo Trust Sans";
    --font-secondary: "Inter";
    --page-padding-width: 10%;
}

/* iPhone 14 Pro Max width */
@media screen and (min-width: 430px) {
    :root {
        --page-padding-width: 15%;
    }
}

/* iPad Pro width */
@media screen and (min-width: 1024px) {
    :root {
        --page-padding-width: 20%;
    }
}

/* Random desktop width */
@media screen and (min-width: 1920px) {
    :root {
        --page-padding-width: 25%;
    }
}